.cart-link {
  display: flex;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 65px;
  height: 65px;
  font-size: 32px;
  color: grey;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid;

  &:hover {
    text-decoration: none;
  }
}

.cart-count {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}